* {
  line-height: 1.2;
}

h2 {
  font-family: 'Roboto Mono';
  font-weight: bold;
  color: black;
}

p, a, h1 {
  font-family: 'Roboto Mono';
  font-weight: 500;
}

i:hover {
  text-decoration: none;
  color: #3f72af;
}

.avatar {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

/*img {
  border: 3px solid #393e46;
}*/

.container {
  margin: 0 auto;
  width: 800px;
}

.card {
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  padding: 20px;
}

.list-inline li {
  list-style: none;
  padding-left: 0px;
  display: inline-block;
  font-size: 50px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

p {
  margin: 50px 25px 50px 25px;
}

body {
  text-align: center;
  line-height: 1.6;
  }

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }

 /* p, h1, h2 {
    font-family: 'Roboto Mono', monospace;
  }

  h1, h2 {
    font-weight: bold;
  }

  .section h1 {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 5%);
  }

  .description {
    margin: 20%;
    width: 50%;
    margin: 5 auto;
    font-size: 20px;
  }

  .description p {
    margin: 50px 0px;
  }

  .avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  }

  body {
    text-align: center;
  }

  #fp-nav ul li .fp-tooltip {
    color: black;
  }
*/
